@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.costume-size-container {
    background-color: #03396c;
    background-image: url(./img/background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    object-fit: cover;
}

.custom-bg1 {
    background-color: #005b96;

}

.costum-div-size {
    width: 50%;
    height: 80%;
}

.costum-div-size img {
    width: 100%;
    height: 100%;
    border: 5px solid black;
}

.title {
    font-size: 2rem;
    font-weight: 600;
}

.subtitle {
    font-size: 1.3rem;
}

.p {
    font-size: 1rem;
}

.cursor-pointer {
    cursor: pointer;
}

.box-shadow {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border: none;
}

.cursor-pointer:hover .shadow-pop-tr {
    -webkit-animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

.costum-p-color1 {
    color: rgba(255, 255, 255, 0.87);
}

.costum-p-color2 {
    color: rgba(0, 0, 0, 0.815);
}

.bg-costum {
    background-color: #03396c;
}

.border-white {
    border: 5px solid white;
}

.img-hover:hover .image-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.img-hover {
    cursor: pointer;
}

.bg-tool {
    background-color: #03396cbd;
    background-image: url(./img/background-tool.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    object-fit: cover;
    background-position: center;
}

.overflow-hidden {
    overflow-x: scroll;
}

.costum-position-relative {
    position: relative;
    width: 100%;
    height: 150px;
}

.costum-position-absolute {
    position: absolute;
    left: 60%;
    animation: unliscroll 20s linear infinite;
}

.gap {
    gap: 1rem;
}

.social-media span a {
    text-decoration: none;
}

.costum-border-radius {
    border-radius: 5px;
}

.custom-div-over-effect:hover .shadow-drop-2-center {
    -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.remove-border {
    border-bottom: none !important;
}

.costum-btn-container {
    position: fixed;
    bottom: 5%;
    right: 5%;
    background-color: rgba(3, 57, 108, 0);
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* ----------------------------------------------
 * Generated by Animista on 2023-7-28 5:48:7
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-drop-2-center
 * ----------------------------------------
 */
@-webkit-keyframes shadow-drop-2-center {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        -webkit-transform: translateZ(50px);
        transform: translateZ(50px);
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}

@keyframes shadow-drop-2-center {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        -webkit-transform: translateZ(50px);
        transform: translateZ(50px);
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}


@media only screen and (min-width: 800px) {
    .costum-size-row {
        width: 80%;
    }
}


@keyframes unliscroll {
    0% {
        left: -60%;
    }

    50% {
        left: 45%;
    }

    100% {
        left: -60%;
    }
}



/* ----------------------------------------------
 * Generated by Animista on 2023-7-27 23:50:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-pop-tr
 * ----------------------------------------
 */
@-webkit-keyframes shadow-pop-tr {
    0% {
        -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
        box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
    }

    100% {
        -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
        box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
        -webkit-transform: translateX(-8px) translateY(8px);
        transform: translateX(-8px) translateY(8px);
    }
}

@keyframes shadow-pop-tr {
    0% {
        -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
        box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
    }

    100% {
        -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
        box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
        -webkit-transform: translateX(-8px) translateY(8px);
        transform: translateX(-8px) translateY(8px);
    }
}