*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.custom-carousel {
  max-height: 300px;
  overflow: hidden; 
}

.carousel-image {
  object-fit: cover; 
  width: 100%; 
  height: 100%;
  text-align: center; 
}

.body-background-color{
  background-color: #f2f2f2;
}

.ContactUs::before{
  content: 'Contact Us';
  position: absolute;
  top: 22%;
  left: 50%; 
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 5rem;
  color: white
}

.AboutUs::before{
  content: 'About Us';
  position: absolute;
  top: 22%;
  left: 50%; 
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 5rem;
  color: white
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.element-center{
  display: flex;
  justify-content: center;
}

.space-between{
  display: flex;
  justify-content: space-between;
}

.align-items{
  align-items: end;
}

.Card{
  border: none;
  cursor: pointer;
}

.Card:hover{
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 800px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}